HEAD
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
.idea/work_to_show.iml
.idea/work_to_show.iml
.idea/vcs.xml

Sports/statcast_2024.csv
7b255bd0d523c709aef3570f7d43f00f5534679a
Arkansas Tech Social Media/ 
Classes Spring 2026/ 
Arkansas Tech Social Media/ 
Classes Spring 2026/ 
* 
*.env 
